body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(147, 131, 113);
  position: relative;
}

form {
  background-color: rgb(211, 211, 211);
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 20%;
  border-radius: 6px;
}

label {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 3px;
  font-weight: bold;
  box-sizing: border-box;
}

input,
select {
  padding: 5px 10px;
  outline: none;
  border-radius: 3px;
  border: none;
  font-size: 16px;
}

button {
  width: 100px;
  margin-left: 100px;
  padding: 5px 10px;
  cursor: pointer;
}

.error {
  width: 100%;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}

input:valid {
  border: 2px solid #5e7936;
}

input:focus {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid lightblue;
}

img {
  width: 15px;
}

.show-pwd,
.show-c-pwd {
  border: none;
  background-color: transparent;
  padding: 0;
  width: 15px;
  border-radius: 50%;
  position: absolute;
  right: 5%;
  top: 52%;
}

#submit {
  border-radius: 6px;
  font-weight: bold;
}

.highFiveMessage {
  display: none;
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  width: 20%;
  top: 40%;
  right: 36%;
  padding: 60px 60px;
  text-align: center;
  border-radius: 16px;
  background-color: aquamarine;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
}
